@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Yok";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu sayfaya erişemezsiniz.</p>
</header>
