@model List<Web_Programlama_Dersi_Proje_Ödevi.Models.Product>

<h2>List of Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.FirstName</td>
            </tr>
        }
    </tbody>
</table>

<h2>Add a Product</h2>

<form method="post" action="/Product/AddProduct">
    <button type="submit">Add Product</button>
</form>
