@model H12Auth2C.Models.Company

<head>
    <style>
        .form-container {
            margin-top: 20px;
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .form-container h1 {
                color: #007bff;
            }

            .form-container label {
                font-weight: bold;
            }

            .form-container input,
            .form-container select {
                width: 100%;
                padding: 10px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 4px;
            }

            .form-container .btn-primary {
                background-color: #007bff;
                color: #ffffff;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
            }

                .form-container .btn-primary:hover {
                    background-color: #0056b3;
                }

            .form-container .back-link {
                margin-top: 10px;
                display: block;
                color: #007bff;
                text-decoration: none;
            }
    </style>
</head>

<div class="form-container">
    <h1>Edit Company</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logo" class="control-label"></label>
                    <input asp-for="Logo" class="form-control" />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="back-link">
        <a asp-action="List" style="color: #007bff; text-decoration: none;">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
